$color1: #bebebe;
$color2: #f2f4f8;
$color3: #007bff;
$color4: #dc3545;
$color5: #d8e4ec;
$color6: #6ea6c9;
$color7: #696969;
$color8: #FFFFFF;
$color9: #EEF3F7;
$color10: #000000;
$color11: #dc3545;
$color12: #152d4c;
$color13: #0f1b30;
$color14: #dee2e6;
$color15:#155724;

$boxShadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
