@import "./../../../../variables";

.ModalContainer {
    border-radius: 5px;
    .row{
        margin-left: 0;
    }
    .close-modal-item {
        margin-right: 15px;
        cursor: pointer;
    }
    .close-modal-container{
        font-size: 22px;
        display: flex;
        justify-content: flex-end;
    }
    .form-container-interaction{
        width: 100%;
        background: #fff;
        height: 100%;
        .close-container{

        }
        .container-container-interaction{
            width: 100%;
            justify-content: center;
            display: flex;
            .button-container-channel{
                display: flex;
                justify-content: flex-end;
                .button-save-channel {
                    min-width: 80px;
                    margin: 0;
                    height: 40px;
                    margin-top: 10px;
                }
            }
        }
    }

    .modal-interaction-content {
        padding: 10px;
        background: transparent;
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    .click-outside-container{
        height: 100%;
    }

    background-color: $color9;
    border-radius: 5px;

    .modal-content{
        justify-content: center;
    }
    .modal-change-close {
        .modal-confirm-yes {
            min-width: 75px;
            background: $color11 !important;
        }

        .modal-confirm-no {
            min-width: 75px;
            background: $color7 !important;
            color: #fff;
        }
        padding: 0 20px;
        .modal-change{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 5px;
        }
        h5{
            color: $color7;
        }
        p {
            text-align: center;
            font-size: 14px;
            color: $color1;
            span{
                color: $color7;
            }
        }
    }
}
